---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>This is a test of the new CSS improvement to web typograhy: <a href="https://developer.chrome.com/blog/whats-new-css-ui-2023#text-wrap_balance">text-wrap: balance</a>. "The browser effectively performs a binary search for the smallest width which doesn't cause any additional lines, stopping at one CSS pixel." Toggle turning it off and on in the console to see for yourself.</h1>
